<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css"  media="all"/>
    <link rel="stylesheet" href="/lib/layui/extend/formSelects-v4.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/animate.min.css"/>
    <link rel="stylesheet" href="/css/selectY.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    <title>Title</title>
</head>
<style>
    .main{
        margin: 20px;
    }
</style>
<body>
        <h2>添加课程</h2>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">课程名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">适用人群</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    课程分类
                </label>
                <div class="main">
                    <cascader id="demo1"></cascader>
                    <cascader id="demo2"></cascader>
                </div>
            </div>
        </form>
</body>
<script>
    layui.use(['treeSelect','form'], function () {
        var treeSelect= layui.treeSelect;

        treeSelect.render({
            // 选择器
            elem: '#tree',
            // 数据
            data: '/category/find.json',
            // 异步加载方式：get/post，默认get
            type: 'post',
            // 占位符
            placeholder: '修改默认提示信息',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 点击回调
         /*   click: function(d){
                console.log(d);
            },*/
            // 加载完成后的回调函数
            success: function (d) {
                console.log(d);
//                选中节点，根据id筛选
              treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
              var treeObj = treeSelect.zTree('tree');
              console.log(treeObj);

//                刷新树结构
               treeSelect.refresh();
            }
        });
    });
</script>
<script>
    layui.config({
        base: '/lib/ajaxCascader/'
        ,version: '1.3'
    });
    layui.use(['jquery','ajaxCascader'],function() {
        debugger;
        var $ = layui.jquery;
        var cascader = layui.ajaxCascader;
        // Ajax传参模式
        cascader.load({
            elem:'#demo1'
            ,value:0
            ,getChildren:function(value,callback){
                var data = [];
                $.ajax({
                    url:'/category/find/'+value,
                    async:false,
                    type:'POST',
                    success:function(res){
                        debugger;
                        data = res.data;
                        console.log(res)
                        console.log(data)
                        for(var i in data){
                            data[i].value = data[i].id;
                            data[i].label = data[i].name;
                            delete data[i].id;
                            delete data[i].name;
                            data[i].hasChild = true;
                        }
                        callback(data);
                    }
                });
            }
        });
        // 直接赋值模式
        cascader.load({
            elem:'#demo2'
            ,data:[
                {value:123,label:456,children:[
                    {value:789,label:"子集"}
                ]},
                {value:240,label:"第一层"},
                {value:250,label:"第一层"},
                {value:260,label:"第一层"},
                {value:280,label:"第一层"},
            ]
        });

        // 监听选中的事件
        cascader.on('click','#demo1',function(){
            // 获取当前已选中的数据,可单独使用
            console.log(cascader.getChooseData('#demo1'))
        });
    });
</script>
</html>